/* Your CSS styles */
.div {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.div-2 {
    display: flex;
    gap: 12px;
    padding: 16px 12px 0;
}

@media (max-width: 991px) {
    .div-2 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-3 {
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
}

.div-4 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    padding: 2px 0;
}

@media (max-width: 991px) {
    .div-4 {
        max-width: 100%;
    }
}

.div-5 {
    color: #000;
    text-overflow: ellipsis;
    font: 500 16px/150% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-5 {
        max-width: 100%;
    }
}

.div-6 {
    color: rgba(0, 0, 0, 0.8);
    text-overflow: ellipsis;
    font: 400 12px/133% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-6 {
        max-width: 100%;
    }
}

.div-7 {
    border-radius: 4px;
    border: 1px solid #000;
    align-self: start;
    display: flex;
    margin-top: 9px;
    gap: 2px;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    white-space: nowrap;
    line-height: 133%;
    padding: 3px 6px;
}

@media (max-width: 991px) {
    .div-7 {
        white-space: initial;
    }
}

.div-8 {
    font-family: Roboto, sans-serif;
    flex-grow: 1;
}

@media (max-width: 991px) {
    .div-8 {
        white-space: initial;
    }
}

.img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 12px;
    margin: auto 0;
}

.div-9 {
    display: flex;
    margin-top: 12px;
    gap: 8px;
    color: #000;
    font-weight: 400;
    text-align: center;
    padding: 0 12px;
}

@media (max-width: 991px) {
    .div-9 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-10 {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    white-space: nowrap;
    padding: 4px 0;
}

@media (max-width: 991px) {
    .div-10 {
        max-width: 100%;
        white-space: initial;
    }
}

.div-11 {
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.05);
    align-self: center;
    aspect-ratio: 1;
    height: 48px;
    padding: 0 9px;
    font: 30px/160% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-11 {
        white-space: initial;
    }
}

.div-12 {
    text-overflow: ellipsis;
    margin-top: 4px;
    font: 10px/14px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-12 {
        max-width: 100%;
    }
}

.div-13 {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    white-space: nowrap;
    padding: 4px 0;
}

@media (max-width: 991px) {
    .div-13 {
        max-width: 100%;
        white-space: initial;
    }
}

.div-14 {
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.05);
    align-self: center;
    aspect-ratio: 1;
    height: 48px;
    padding: 0 9px;
    font: 30px/160% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-14 {
        white-space: initial;
    }
}

.div-15 {
    text-overflow: ellipsis;
    margin-top: 4px;
    font: 10px/14px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-15 {
        max-width: 100%;
    }
}

.div-16 {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    padding: 4px 0;
}

@media (max-width: 991px) {
    .div-16 {
        max-width: 100%;
    }
}

.div-17 {
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.05);
    align-self: center;
    aspect-ratio: 1;
    height: 48px;
    white-space: nowrap;
    padding: 0 9px;
    font: 30px/160% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-17 {
        white-space: initial;
    }
}

.div-18 {
    text-overflow: ellipsis;
    margin-top: 4px;
    font: 10px/14px Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-18 {
        max-width: 100%;
    }
}

.div-19 {
    color: #000;
    margin-top: 28px;
    font: 500 18px/133% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-19 {
        max-width: 100%;
    }
}

.div-20 {
    margin-top: 12px;
}

@media (max-width: 991px) {
    .div-20 {
        max-width: 100%;
    }
}

.div-21 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-21 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.div-22 {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-grow: 1;
    padding-bottom: 16px;
    flex-direction: column;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    line-height: 133%;
    width: 100%;
}

@media (max-width: 991px) {
    .div-22 {
        max-width: 100%;
        margin-top: 8px;
    }
}

.img-2 {
    aspect-ratio: 2.38;
    object-fit: auto;
    object-position: center;
    width: 394px;
    max-width: 100%;
}

.div-23 {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

@media (max-width: 991px) {
    .div-23 {
        max-width: 100%;
    }
}

.div-24 {
    font-family: Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-24 {
        max-width: 100%;
    }
}

.div-25 {
    display: flex;
    margin-top: 8px;
    padding-right: 80px;
    justify-content: space-between;
    gap: 6px;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .div-25 {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
        white-space: initial;
    }
}

.div-26 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    border-radius: 2px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    aspect-ratio: 2.4;
    padding: 2px 4px;
}

@media (max-width: 991px) {
    .div-26 {
        white-space: initial;
    }
}

.div-27 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    border-radius: 2px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    padding: 2px 4px;
}

@media (max-width: 991px) {
    .div-27 {
        white-space: initial;
    }
}

.div-28 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-weight: 500;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .div-28 {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
    }
}

.div-29 {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
}

.div-30 {
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
    flex-grow: 1;
    margin: auto 0;
}

@media (max-width: 991px) {
    .div-30 {
        max-width: 100%;
    }
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}

.div-31 {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-grow: 1;
    padding-bottom: 16px;
    flex-direction: column;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    line-height: 133%;
    width: 100%;
}

@media (max-width: 991px) {
    .div-31 {
        max-width: 100%;
        margin-top: 8px;
    }
}

.img-3 {
    aspect-ratio: 2.08;
    object-fit: auto;
    object-position: center;
    width: 340px;
    max-width: 100%;
}

.div-32 {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 8px 0;
}

@media (max-width: 991px) {
    .div-32 {
        max-width: 100%;
    }
}

.div-33 {
    font-family: Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-33 {
        max-width: 100%;
    }
}

.div-34 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    border-radius: 2px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    align-self: start;
    margin-top: 8px;
    aspect-ratio: 3.3;
    white-space: nowrap;
    padding: 2px 4px;
}

@media (max-width: 991px) {
    .div-34 {
        white-space: initial;
    }
}

.div-35 {
    display: flex;
    margin-top: 8px;
    justify-content: space-between;
    gap: 8px;
    font-weight: 500;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .div-35 {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
    }
}

.div-36 {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
}

.div-37 {
    text-overflow: ellipsis;
    font-family: Roboto, sans-serif;
    flex-grow: 1;
    margin: auto 0;
}

@media (max-width: 991px) {
    .div-37 {
        max-width: 100%;
    }
}

.div-38 {
    color: #000;
    margin-top: 28px;
    font: 500 18px/133% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-38 {
        max-width: 100%;
    }
}

.div-39 {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 12px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-39 {
        max-width: 100%;
    }
}

.div-40 {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
}

@media (max-width: 991px) {
    .div-40 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-41 {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

@media (max-width: 991px) {
    .div-41 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-42 {
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    margin: auto 0;
}

.div-43 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-43 {
        max-width: 100%;
    }
}

.div-44 {
    color: #000;
    text-overflow: ellipsis;
    font: 500 12px/133% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-44 {
        max-width: 100%;
    }
}

.div-45 {
    color: rgba(0, 0, 0, 0.5);
    text-overflow: ellipsis;
    font: 400 10px/140% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-45 {
        max-width: 100%;
    }
}

.div-46 {
    color: #000;
    text-align: center;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin: auto 0;
    font: 400 16px/150% Roboto, sans-serif;
}

.img-4 {
    aspect-ratio: 1.96;
    object-fit: auto;
    object-position: center;
    width: 627px;
    margin-top: 8px;
    max-width: 100%;
}

.div-47 {
    display: flex;
    margin-top: 7px;
    flex-direction: column;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    line-height: 133%;
    padding: 12px;
}

@media (max-width: 991px) {
    .div-47 {
        max-width: 100%;
    }
}

.div-48 {
    font-family: Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-48 {
        max-width: 100%;
    }
}

.div-49 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    border-radius: 2px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    align-self: start;
    margin-top: 8px;
    white-space: nowrap;
    padding: 2px 4px;
}

@media (max-width: 991px) {
    .div-49 {
        white-space: initial;
    }
}